{{ define "footer" }}
    <footer class="text-muted">
      <div class="container">
        <p class="float-right text-muted small">
          <a href="https://wordpress.com/">Powered by Wordpress</a>
        </p>
      </div>
    </footer>

    <script src="/static/ep4sh.js"></script>
    <script type="text/javascript">     (function(m,e,t,r,i,k,a){         m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};         m[i].l=1*new Date();         for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}         k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)     })(window, document,'script','https://mc.yandex.ru/metrika/tag.js?id=106920272', 'ym');      ym(106920272, 'init', {ssr:true, webvisor:true, clickmap:true, ecommerce:"dataLayer", referrer: document.referrer, url: location.href, accurateTrackBounce:true, trackLinks:true}); </script> <noscript><div><img src="https://mc.yandex.ru/watch/106920272" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
{{ end }}
