{{ define "content" }}
  <div class="py-5 album h-100 bg-light">
    <div class=" container">
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <a href="https://ep4sh.ru">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                  <rect width="100%" height="100%" fill="#55595c"/>
                  <image xlink:href="/static/books.jpg" x="0" y="0" />
              </svg>
            </a>
            <div class="card-body">
              <p class="card-text">Book exchange</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="https://ep4sh.ru"> <button type="button" class="btn btn-sm btn-outline-secondary">In development</button> </a>
                </div>
                <small class="text-muted index-small"> keep calm and take my books</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <a href="https://paste.ep4sh.ru">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                  <image xlink:href="/static/curly.png" x="0" y="0" />
              </svg>
            </a>
            <div class="card-body">
              <p class="card-text">Pastecode</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="https://github.com/ep4sh/pastecode"> <button type="button" class="btn btn-sm btn-outline-secondary">GitHub</button> </a>
                </div>
                <small class="text-muted index-small">code snippets lives here</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <a href="https://base64.ep4sh.ru">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                  <image xlink:href="/static/base64.png" x="0" y="0" />
              </svg>
            </a>
            <div class="card-body">
              <p class="card-text">base64 Processor</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="https://github.com/ep4sh/base64"> <button type="button" class="btn btn-sm btn-outline-secondary">GitHub</button> </a>
                </div>
                <small class="text-muted index-small">base64 online decoder with No logs</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <a href="https://autopsy.ep4sh.ru">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                  <image xlink:href="https://autopsy.ep4sh.ru/static/autopsy.svg" x="10%" y="10%" width="80%" height="80%" />
              </svg>
            </a>
            <div class="card-body">
              <p class="card-text">Autopsy</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="https://github.com/ep4sh/autopsy"> <button type="button" class="btn btn-sm btn-outline-secondary">GitHub</button> </a>
                </div>
                <small class="text-muted index-small">Autopsy: postmortem service</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <a href="https://jnest.ep4sh.ru">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                  <image xlink:href="https://jnest.ep4sh.ru/static/jnest-logo-sm.webp" x="10%" y="10%" width="80%" height="80%"  />
              </svg>
            </a>
            <div class="card-body">
              <p class="card-text">JNest: Joplin notebooks storage</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="https://jnest.ep4sh.ru"> <button type="button" class="btn btn-sm btn-outline-secondary">View</button> </a>
                </div>
                <small class="text-muted index-small">JNest: Joplin notebooks storage</small>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
{{ end }}
